# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/.vscode
/.vs
/.idea
/out

# Log files
**/logs

# Python
__pycache__

# Models are too big to push
/src/MachineLearning/ReinforcementLearning/RLExamples/CarRacingExamples/carracing_training
/src/MachineLearning/ReinforcementLearning/RLExamples/CustomEnvExample/shower_training
assets/models
assets/videos
src/MachineLearning/CANRacing/SupervisedLearning/classification/runs

# Videos are too big to push
src/MachineLearning/ACRacing/TestImges
src/MachineLearning/CANRacing/tensorboards
assets/videos/outpyTestdag5.mp4
/src/MachineLearning/ACRacing/training_data

src/MachineLearning/CANRacing/SupervisedLearning/classification/yolov5/yolov5s.pt
src/MachineLearning/CANRacing/SupervisedLearning/CANRacing/SupervisedLearning/classification/runs
src/MachineLearning/CANRacing/SupervisedLearning/HelperScripts/show_resized.py
assets/images/models/Douwe_final_model_-1_1_rotate_2022-06-09_11-15-46.pt
assets/images/models/classification/Kopie van Kopie van seed4_368-207_SteerSLSelfDriveModel_2022-06-07_00-03-49.pt
