# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/.vscode
/.vs
/.idea
/out

# Log files
**/logs

# Python
__pycache__

# Models are too big to push
assets/models
src/MachineLearning/SupervisedLearning/classification/runs
src/MachineLearning/SupervisedLearning/classification/yolov5/yolov5s.pt
src/MachineLearning/ReinforcementLearning/RLExamples/CarRacingExamples/carracing_training

# Videos are too big to push
assets/videos
assets/images

# Don't push tensorboards
src/MachineLearning/SupervisedLearning/tensorboards
src/MachineLearning/CANRacing/tensorboards/seed4_368-207_SteerSLSelfDriveModel_2022-06-07_00-03-49/tensorboard_testing_test/events.out.tfevents.1656115581.SabineP.5492.0
