# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/.vscode
/.vs
/.idea
/out

# Log files
/logs

# Python
__pycache__

# Models are too big to push
src/MachineLearning/ACRacing/training_data
src/MachineLearning/CANRacing/models

# Videos are too big to push
# src/MachineLearning/ACRacing/TestImges
assets/videos/outpyTestdag5.mp4

src/MachineLearning/CANRacing/saved_tbs